footer{
    border: 1px solid rgb(204, 196, 196);
    background-color: #ffffff;
}

.icono{
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin-inline: 10px;
    display: inline-block;
}

.card-list {
    display: inline-block;
    justify-content: center;
    margin: 80px;
    max-width: 100px;
    min-width: 100px;
    max-height: 50px;
    min-height: 50px;
}

.card {
    width: 200px;
    height: 470px;
    margin-left: -100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover{
    background-color: rgb(7, 208, 243);
}

.card img {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

